html{
    color: #333333;
    font-family: "游ゴシック体","YuGothic","游ゴシック","Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6", sans-serif
}

.header{
    display: flex;
    justify-content: flex-end;
    background-color: #eaeaed;
}
.header-right{
    display: flex;
    margin-right: 100px;
   
}
header div ul li{
    padding: 15px 13px 11px;
}
.pinovinopic{
    margin-left: 200px;
    margin-top: 50px
}

.pic{
    height: 500px;
    width: 500px;
    opacity: 0;
    transition: opacity 2s ease;
    margin-left: 100px;
    margin-right: 50px;

}
.on.pic{
    opacity: 1;
}

.menu1{
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #eaeaed;
    margin-bottom: 100px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 2s ease;
padding: 50px 0 50px 0;
}
.on.menu1{
    opacity: 1;
}

body div p{
    padding: 100px;
}
body div ul{
    padding: 50px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 100px 0;
    
    background-color: #eaeaed;

}
.pic2{
    width: 1000px;
    height: 400px;
}
#h1{
    font-size: 30px;
    background-color: #eaeaed;
    margin: 30px 0 30px; 
    padding-left: 30px;
}

.top{
    background-color: #eaeaed;
    margin : 0 auto;
    padding: 50px 0 100px 50px;
    margin-top: 50px;
}
.menu2{
    display: flex;
    font-size: 18px;
    background-color: #eaeaed;
    margin-bottom: 100px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 2s ease;
padding: 50px 0 50px 0;
}
.on.menu1{
    opacity: 1;
}   
