html{
    background-color: #eaeaed;
    color: #333333;
    font-family: "游ゴシック体","YuGothic","游ゴシック","Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6", sans-serif
}

.header{
    display: flex;
    justify-content: flex-end;
    background-color: #eaeaed;
}
.header-right{
    display: flex;
    align-items: center;
    margin-right: 100px;
   
}
header div ul li{
    padding: 15px 13px 11px;
}
.pinovinopic{
    margin-left: 200px;
    margin-top: 50px;
    filter: drop-shadow(0 0 10px black);
}

.pic{
    height: 500px;
    width: 500px;
    opacity: 0;
    transition: opacity 2s ease;
    margin-left: 80px;
    margin-right: 50px;
        filter: drop-shadow(0 0 10px black);
}
.on.pic{
    opacity: 1;
}

.menu1{
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #eaeaed;
    margin-bottom: 100px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 2s ease;
padding: 50px 0 50px 0;
}
.on.menu1{
    opacity: 1;
}

body div p{
    padding: 100px;
}
body div ul{
    padding: 50px;
}
footer{
    text-align: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 100px 0;
    
    background-color: #eaeaed;

}
#h1{
    font-size: 30px;
    background-color: #eaeaed;
    margin: 30px 0 30px; 
    padding-left: 30px;
}

.top{
    background-color: #eaeaed;
    margin : 0 auto;
    padding: 50px 0 100px 50px;
    margin-top: 50px;
}
.menu2{
    display: flex;
    font-size: 18px;
    background-color: #eaeaed;
    margin-bottom: 100px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 2s ease;
padding: 50px 0 50px 200px;
}
.on.menu2{
    opacity: 1;
}   

a {
    padding: 0 .3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(25, 218, 211) 50%);
    background-position: 0 0;
    background-size: auto 200%;
    transition: .3s;
  }
  a:hover {
    background-position: 0 100%;
    color: #fff;
  }
  /*=== 画像の表示エリア ================================= */
.slide {
    position   : relative;
    overflow   : hidden;
                      /* 画像のサイズに合わせて変更ください */
    width      : 500px;
    height     : 400px;
    margin     : auto;      /* サンプルは中央寄せの背景：白 */
    background : #eaeaed;
  }
   
   /*=== 画像の設定 ======================================= */
  .slide img {
    display    : block;
    position   : absolute;
                        /* 画像のサイズを表示エリアに合せる */
    width      : 500px;
    height     : 400px;
    opacity    : 0;
    animation  : slideAnime 30s ease infinite;
  }
   
   /*=== スライドのアニメーションを段差で開始する ========= */
  .slide img:nth-of-type(1) { animation-delay: 0s }
  .slide img:nth-of-type(2) { animation-delay: 3s }
  .slide img:nth-of-type(3) { animation-delay: 6s }
  .slide img:nth-of-type(4) { animation-delay: 9s }
  .slide img:nth-of-type(5) { animation-delay: 12s }
  .slide img:nth-of-type(6) { animation-delay: 15s }
  .slide img:nth-of-type(7) { animation-delay: 18s }
  .slide img:nth-of-type(8) { animation-delay: 21s }
  .slide img:nth-of-type(9) { animation-delay: 24s }
  .slide img:nth-of-type(10) { animation-delay: 27s }
   
   /*=== スライドのアニメーション ========================= */
  @keyframes slideAnime{
     0% { opacity: 0 }
     1% { opacity: 1 }
    10% { opacity: 1 }
    11% { opacity: 0 }
   100% { opacity: 0 }
  }


  @media screen and (max-width: 780px){
body{
    width: 780px;
}

.header{
    display: flex;
    height: 100px;
    margin-top: 50px;
}

.menu1{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.menu2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.top{
 padding: 0;   
 display:flex;
 align-items: flex-start;
 flex-direction: column;
}
body div ul{
    padding: ;
}


}




