html{
    background-color: #eaeaed;
    color: #333333;
    font-family: "游ゴシック体","YuGothic","游ゴシック","Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6", sans-serif

}
.header{
    display: flex;
    justify-content: flex-end;
}
.header-right{
    display: flex;
    margin-right: 100px;
   
}
header div ul li{
    padding: 15px 13px 11px;
}

.pic{
    height: 500px;
    width: 500px;
    opacity: 0;
    transition: opacity 2s ease;
    
}
.on.pic{
    opacity: 1;
}
.menu1{
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #eaeaed;
    padding-left: 80px;

}
body div p{
    padding: 200px;
}
body div ul{
    padding: 50px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 100px 0;
    
    background-color: #eaeaed;

}

#h1{
    font-size: 30px;
 padding-left: 50px;
 background-color: #eaeaed;
margin-bottom: 35px;
}
h2{
    font-size: 50px;
    margin-left: 50px;
}
.menu3{
    display: flex;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
}

/* header link */
a {
    padding: 0 .3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(25, 218, 211) 50%);
    background-position: 0 0;
    background-size: auto 200%;
    transition: .3s;
  }
  a:hover {
    background-position: 0 100%;
    color: #fff;
  }
  footer{
    text-align: center;
}
/* スクロール */
 /*=== 画像の表示エリア ================================= */
.scrollbar {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 800px;
  height     : 500px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #eaeaed;
}
 
 /*=== 画像の設定 ======================================= */
.scrollbar img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : 800px;
  height     : 500px;
  opacity    : 0;
  animation  : slideAnime 7s ease infinite;
  filter: drop-shadow(0 0 10px black);
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.scrollbar img:nth-of-type(1) { animation-delay: 0s }
.scrollbar img:nth-of-type(2) { animation-delay: 2s }
.scrollbar img:nth-of-type(3) { animation-delay: 5s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
   3% { opacity: 1 }
  33% { opacity: 1 }
  36% { opacity: 0 }
 100% { opacity: 0 }
}

 /*=== 画像の表示エリア ================================= */
 .slide {
    position   : relative;
    overflow   : hidden;
                      /* 画像のサイズに合わせて変更ください */
    width      : 800px;
    height     : 500px;
    margin     : auto;      /* サンプルは中央寄せの背景：白 */
    background : #eaeaed;
  }
   
   /*=== 画像の設定 ======================================= */
  .slide img {
    display    : block;
    position   : absolute;
                        /* 画像のサイズを表示エリアに合せる */
    width      : inherit;
    height     : inherit;
    opacity    : 0;
    animation  : slideAnime 15s ease infinite;
  }
   
   /*=== スライドのアニメーションを段差で開始する ========= */
  .slide img:nth-of-type(1) { animation-delay: 0s }
  .slide img:nth-of-type(2) { animation-delay: 3s }
  .slide img:nth-of-type(3) { animation-delay: 6s }
  .slide img:nth-of-type(4) { animation-delay: 9s }
  .slide img:nth-of-type(5) { animation-delay: 12s }
   
   /*=== スライドのアニメーション ========================= */
  @keyframes slideAnime{
     0% { opacity: 0 }
     1% { opacity: 1 }
    20% { opacity: 1 }
    21% { opacity: 0 }
   100% { opacity: 0 }
  }
   /*=== 画像の表示エリア ================================= */
.slide2 {
    position   : relative;
    overflow   : hidden;
                      /* 画像のサイズに合わせて変更ください */
    width      : 1000px;
    height     : 600px;
    margin     : auto;      /* サンプルは中央寄せの背景：白 */
    background : #fff;
  }
   
   /*=== 画像の設定 ======================================= */
  .slide2 img {
    display    : block;
    position   : absolute;
                        /* 画像のサイズを表示エリアに合せる */
    width      : 1000px;
    height     : 600px;
    opacity    : 0;
    animation  : slideAnime 12s ease infinite;
  }
   
   /*=== スライドのアニメーションを段差で開始する ========= */
  .slide2 img:nth-of-type(1) { animation-delay: 0s }
  .slide2 img:nth-of-type(2) { animation-delay: 3s }
  .slide2 img:nth-of-type(3) { animation-delay: 6s }
  .slide2 img:nth-of-type(4) { animation-delay: 9s }
   
   /*=== スライドのアニメーション ========================= */
  @keyframes slideAnime{
     0% { opacity: 0 }
     1% { opacity: 1 }
    25% { opacity: 1 }
    26% { opacity: 0 }
   100% { opacity: 0 }
  }
  @media screen and (max-width: 780px){
    body{
        width: 780px;
    }
    
    .header{
        display: flex;
        height: 100px;
        
    }
    
    .menu1{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    }
    .menu2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    body div p{
      padding: 100px 50px 100px 50px;
  
    }
    body div ul {
      margin: 100px 0 100px;
    }
.slide2 img{
  height: 600px;
  width: 700px;
}
.slide2{
  height: 600px;
  width: 700px;
}
.slide{
  height: 600px;
  width: 700px;
}
.slide img{
  height: 600px;
  width: 700px;
}
.scrollbar{
  height: 600px;
  width: 700px;
}
.scrollbar img{
  height: 600px;
  width: 700px;
}
.header-right{
  margin: 0;
}
.menu3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}


  }
    
    