body{
    margin: 0;
    margin-top: 0;
}



header{
    margin-top: 0%;
    background-image: url(./img/header_img2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}